body {
	font-family: Arial, sans-serif;
	background-color: #f3f3f3;
	margin: 10;
	padding: 10;
	/*display: flex;*/
	justify-content: left;
	align-items: center;
	height: 80vh;
}

.main {
	/*background-color: #fff;*/
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 600px;
}

.main h2 {
	color: darkblue;
	margin-bottom: 0px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #000000;
	font-weight: normal;
}

input[type="text"], input[type="email"], input[type="password"], select
	{
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button[type="submit"] {
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: teal;
	color: white;
	cursor: pointer;
	width: 30%;
	font-size: 12px;
}

button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: teal;
	color: black;
	cursor: pointer;
	width: 90%;
	font-size: 12px;
}

@keyframes blink-animation {  
  0% { opacity: 1; }  
  50% { opacity: 0; }  
  100% { opacity: 1; }  
}  
.blink-text {
	animation: blink-animation 0.5s infinite;
}