.head {
	display: flex;
	justify-content: space-between;
	background-color: #66CDAA;
	color: darkblue;
	border-bottom: solid;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

footer {
	position: fixed;
    bottom: 0px;
	width: 100%;
	background: #66CDAA;
	color: darkblue;
	border-top: solid;
	margin-left: -8px;
	opacity: 0.5;
}